*{
    font-family: 'Lobster', cursive;
}

body{
    background-color: rgb(47, 47, 47);
    height: 100%;
    margin: 10px;
}

#title{
    color: rgb(0, 210, 147);
    font-size: 150px;
    text-align: center;
    text-shadow: 5px 5px 0 rgb(0, 0, 0);
}

.dice p{
    text-align: center;
    color: rgb(0, 210, 147);
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
}
.dice-none{
    display: none;
}


footer{
    color: antiquewhite;
    text-align: center;
    margin: 10%;
}


